<?xml version="1.0" encoding="UTF-8"?>
<CONFIGPARAM>
  <EXPORTPATH>D:\HPB.Projects\DotNet\2018\BridgeKarteFormConverter\05.Testing\02. Data\02_Export</EXPORTPATH>
  <DATAPATH>D:\HPB.Projects\DotNet\2018\BridgeKarteFormConverter\05.Testing\03. Data\03. Data_225\03_サンプルデータ\01_取込ファイル\群馬様式3～8</DATAPATH>
</CONFIGPARAM>